.background_green
{
    background-color: #158467;
}

.text_color_withe
{
    color: white;
}

.text_color_withe:hover
{
    color: rgb(216, 216, 216);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.font_Montserrat
{
    font-family: 'Montserrat', sans-serif;
}

.padding_10_right_lefet
{
    padding-right: 10px;
    padding-left: 10px;
}


.grid-container_table {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . .";
  }

  .whidth100
  {
      width: 100%;
  }
  
  