
.grid-container-login {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 20% 60% 20%;
    gap: 0px 0px;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
  }

  @media(min-width:0) and (max-width:1200px) 
  {
    .grid-container-login {
        display: grid;
        grid-template-columns: 35% 30% 35%;
        grid-template-rows: 20% 60% 20%;
        gap: 0px 0px;
        grid-template-areas:
          ". . ."
          ". . ."
          ". . .";
      }
  }


  @media(min-width:0) and (max-width:900px) 
  {
    .grid-container-login {
        display: grid;
        grid-template-columns: 30% 40% 30%;
        grid-template-rows: 20% 60% 20%;
        gap: 0px 0px;
        grid-template-areas:
          ". . ."
          ". . ."
          ". . .";
      }
  }

  @media(min-width:0) and (max-width:500px) 
  {
    .grid-container-login {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 20% 60% 20%;
        gap: 0px 0px;
        grid-template-areas:
          ". . ."
          ". . ."
          ". . .";
      }
  }

  @media(min-width:0) and (max-width:300px) 
  {
    .grid-container-login {
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 20% 60% 20%;
        gap: 0px 0px;
        grid-template-areas:
          ". . ."
          ". . ."
          ". . .";
      }
  }